*{
    background-color: black;
    text-decoration: none;
}
.text{
    color: red;
    text-shadow: 2px 2px 5px red;
    padding: 75;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 110;
}